@import "tailwindcss";
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(249, 115, 22);
}
::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: rgb(10, 10, 10);
}
::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(249, 115, 22);
}
::-webkit-scrollbar {
    width: 8px;
}


